@mixin card($radius: 0.25rem) {
  background-color: $white;
  border-radius: $radius;
  padding: 1.5rem;
  height: 100%;
  word-break: break-all;
  display: flex;
  flex-direction: column;
}

// .card {
//   &-default {
//     @include card();
//   }

//   &-edge {
//     &-rounded {
//       @include card(0.5rem);
//     }

//     &-pointed {
//       @include card(unset);
//     }
//   }
// }



.card {
  cursor: pointer;

  &-swiper {
    height: 80vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-banner {
    z-index: 10;

    .card-col {
      border-right: 1px solid rgb(167, 166, 169);
    }
  }


  // &-package {
  //   background-color: #F8F8F9;
  //   border: 1px solid rgb(221, 219, 219);
  //   position: relative;

  //   img {
  //     transition: 0.4s all ease-in-out;
  //   }

  //   &:hover {
  //     img {
  //       transform: scale(1.1);
  //     }

  //     a {
  //       background-color: transparent !important;
  //       color: $secondary !important;
  //       border: 1px solid $secondary !important;
  //     }
  //   }

  //   .price {
  //     width: 4.5rem;
  //     height: 4.5rem;
  //     background-color: white;
  //     border-radius: 50%;
  //     margin-top: -2%;
  //     right: 0;
  //     top: 40%;
  //     position: absolute;
  //   }

  //   .content {
  //     // min-height: 130px !important;
  //     min-height: 50px !important;
  //   }

  // }

  &-package-popular {
    cursor: pointer;

    &:hover {
      img {
        transform: scale(1.1);
      }

      a {
        background-color: transparent !important;
        color: $secondary !important;
        border: 1px solid $secondary !important;
      }
    }

    .img-wrapper {
      width: 90%;
      height: 100%;
      margin-bottom: -45%;
      z-index: 3;

      img {
        transition: 0.4s all ease-in-out;
      }
    }

    .content {
      background-color: #f8f9fa;
      padding-top: 50%;

      p {
        font-size: 1rem !important;
      }

    }

  }

  &-side-bucketlist {
    cursor: pointer;
    border: 1px solid rgb(241, 240, 240);

    &:hover {
      background-color: $secondary !important;
      color: white !important;
    }

    &.active {
      background-color: $secondary !important;
      color: white !important;
    }
  }

  &-package-all {
    cursor: pointer;
    transition: all ease-in-out 0.5s;


    &:hover {
      transform: scale(1.02);
    }

    .title {
      min-height: 3rem;
    }
  }

  &-blog-lg {
    cursor: pointer;

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    img {
      transition: 0.4s all ease-in-out;
    }
  }

  &-blog-sm {
    cursor: pointer;
    transition: 0.4s all ease-in-out;

    &:hover {
      transform: scale(1.01);
    }

    .image {
      width: 25%;
      height: auto;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .content {
      width: 75%;
    }
  }

  &-testimonial {
    cursor: pointer;
    transition: 0.4s all ease-in-out;

    &:hover {
      transform: scale(1.01);
    }

    .image {
      overflow: hidden;
      border-radius: 50%;
      width: 8rem;
      height: 8rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &-teams {
    border: 1px solid rgb(245, 243, 243);

    .image {
      height: 7rem;
      width: 7rem;
      border-radius: 50%;
      overflow: hidden;
      border: 1px solid rgb(245, 243, 243);
      background-color: F9F9F9;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .btn-outline-gray:hover {
      background-color: $secondary !important;
      color: #fff !important;
      border: 1px solid transparent;
    }
  }

  &-side {
    .image {
      width: 70px;
      height: 60px;
    }

    .package-info {
      cursor: pointer;
      border-bottom: 1px solid #BAB9B9;
      width: 100%;

      &:hover {
        color: $secondary !important;
      }
    }
  }

  &-side-card {
    cursor: pointer;
    transition: 0.4s all ease-in-out;

    &:hover {
      transform: scale(1.01);
    }
  }

  &-package-overview {
    .img {
      width: 2.5rem;
      height: 2.5rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &-about-us {
    .image {
      width: 3.5rem;
      height: 3.5rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}