.landing-banner {
    .swiper {

        /* Ensure Swiper slides take the full width */
        .swiper-slide {
            width: 100%;
        }

        .swiper-button-prev,
        .swiper-button-next {
            background-color: rgba(#aaaaaa, 0.6);
            border-radius: 50%;
            height: 2.5rem;
            width: 2.5rem;
        }

        .swiper-button-prev:after,
        .swiper-button-next:after {
            font-size: 1.65rem;
            color: white;
        }
    }
}

  